.detalle__producto {
    background-color: var(--color-fondo-noTanBlanco);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem 0;
    width: 100%;
}

/*tablet*/
@media (max-width: 768px) {
    .detalle__producto {
        gap: 2rem;
        padding: 2rem 0;
    }  
}
  
/*mobile*/
@media (max-width: 480px) {
    .detalle__producto {
        padding: 0 0 1rem 0;
    }  
}