.productos {
    background-color: var(--color-fondo-noTanBlanco);
    display: flex;
    gap: 4rem;
    padding: 4rem 0;
    width: 100%;
}

/*tablet*/
@media (max-width: 768px) {
    .productos {
        gap: 2rem;
        padding: 2rem 0;
    }  
}
  
/*mobile*/
@media (max-width: 480px) {
    .productos {
        gap: 2rem;
        padding: 1rem 0;
    }  
}