/* Star Wars */
#a01 {
    background: url("../../../../assets/products/unsplash_6FDXGY9J6y4.png") no-repeat center / cover;
}

#a02 {
    background: url("../../../../assets/products/unsplash_epRFE_hBNjo.png") no-repeat center / cover;
}

#a03 {
    background: url("../../../../assets/products/unsplash_KeGToDVN0l4.png") no-repeat center / cover;
}

#a04 {
    background: url("../../../../assets/products/unsplash_4OHkK555s1A.png") no-repeat center / cover;
}

#a05 {
    background: url("../../../../assets/products/unsplash_R8L1l9RN198.png") no-repeat center / cover;
}

#a06 {
    background: url("../../../../assets/products/unsplash_1VV1MRafd7A.png") no-repeat center / cover;
}

/* Consolas */

#b01 {
    background: url("../../../../assets/products/unsplash_0POwK6iAiRQ.png") no-repeat center / cover;
}

#b02 {
    background: url("../../../../assets/products/unsplash_caNzzoxls8Q.png") no-repeat center / cover;
}

#b03 {
    background: url("../../../../assets/products/unsplash_ZV7lnfyQLmA.png") no-repeat center / cover;
}

#b04 {
    background: url("../../../../assets/products/unsplash_wa5z9o9fgjw.png") no-repeat center / cover;
}

#b05 {
    background: url("../../../../assets/products/unsplash_Zjn4dT993-g.png") no-repeat center / cover;
}

#b06 {
    background: url("../../../../assets/products/unsplash_k-xYhI3-gJM.png") no-repeat center / cover;
}

/* Diversos */

#c01 {
    background: url("../../../../assets/products/unsplash_fMP-oCze3AY.png") no-repeat center / cover;
}

#c02 {
    background: url("../../../../assets/products/unsplash_bUgaIaZysH0.png") no-repeat center / cover;
}

#c03 {
    background: url("../../../../assets/products/unsplash_sYVY_ZKwaxU.png") no-repeat center / cover;
}

#c04 {
    background: url("../../../../assets/products/unsplash_jMT6BrgBuXU.png") no-repeat center / cover;
}

#c05 {
    background: url("../../../../assets/products/unsplash_MxVkWPiJALs.png") no-repeat center / cover;
}

#c06 {
    background: url("../../../../assets/products/unsplash_r27umXAelDc.png") no-repeat center / cover;
}