.detalle__producto__principal--img {
    display: flex;
    background-color: lightgray;
    justify-content: center;
    height: 403px;
    width: 100%;
}

.detalle__producto__principal--img img {
    object-fit: cover;
    height: 100%;
    
}


/*tablet*/
@media (max-width: 768px) {
    .detalle__producto__principal--img {
        height: 157px;
    } 
}
  
/*mobile*/
@media (max-width: 480px) {
    .detalle__producto__principal--img {
        height: 192px;
        width: 100vw;
        margin-left: -1rem;
    }  
}