.header__menu {
    align-items: center;
    display: flex;
    height: 7.1875rem;
    justify-content: space-between;
}

/*tablet*/
@media (max-width: 768px) {
    .header__menu {
        height: 4.5rem;
    }    
}
  
/*mobile*/
@media only screen and (max-width: 480px) {
  
}