.agregar-productos__button {
    background-color: var(--color-botones);
    border: none;
    color: #FFFFFF;
    height: 50px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
}

/*tablet*/
@media (max-width: 768px) {
    .login__button--login {
        width: 109px;
        height: 40px;
    }
}
    
/*mobile*/
@media only screen and (max-width: 480px) {
      
}