.login__button--login {
    background-color: var(--color-botones);
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    height: 62px;
    line-height: 21px;

}

.login__button--login:disabled {
    background-color: gray;
}


/*tablet*/
@media (max-width: 768px) {
    .login__button--login {
        width: 109px;
        height: 40px;
    }
}
    
/*mobile*/
@media only screen and (max-width: 480px) {
      
}