.banner {
    align-items: flex-end;
    background: url('../../../assets/banner-image.png') no-repeat center / cover;
    display: flex;
    height: 352px;
    padding: 2rem 0;
    width: 100%;
}

/*tablet*/
@media (max-width: 768px) {
    .banner {
        height: 352px;
    }
}
  
/*mobile*/
@media only screen and (max-width: 480px) {
    .banner {
        height: 192px;
    }
}